.talentNormal{
    border: 2px solid black;
}

.talentSelected{
    border: 2px solid rgb(26, 255, 26);
}

.talentFull{
    border: 2px solid gold;
}

.talentActive{
    color: rgb(26, 255, 26);
}

.talentFullPoints{
    color: gold;
}

.talentInactive{
    color: white;
}

.smallWindow{
    position:absolute;
    margin-left:70;
    margin-right:auto;
    width:900px;
}

.largeWindow{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:900px;
}